<div class="main-text">
    Szczegóły pracy dyplomowej
</div>
<div *ngIf="isStudentAssigned" class="main-text student-assigned-text">
    Wyraziles chec pisania tej pracy dyplomowej
</div>
<div class="container container-table">
    <div class="row">
        <div class="col-2">
            Numer Pracy
        </div>
        <div class="col-2">
            Temat
        </div>
        <div class="col-2">
            Data utworzenia
        </div>
        <div class="col-2">
            Stan
        </div>
        <div class="col-2">
            Student
        </div>
        <div class="col-2">
            Promotor
        </div>
    </div>
    <div *ngIf="!loading; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <div *ngIf="thesis" class="row">
            <div class="col-2">
                {{thesis.thesisNumber}}
            </div>
            <div class="col-2">
                {{thesis.topic}}
            </div>
            <div class="col-2">
                {{thesis.issueDateTime}}
            </div>
            <div class="col-2">
                {{thesis.state}}
            </div>
            <div class="col-2">
                {{thesis.student}}
            </div>
            <div class="col-2">
                {{thesis.supervisor}}
            </div>
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <div class="row">
            <div class="col-12 spinner">
            </div>
        </div>
    </ng-template>
</div>
<div class="buttons" *ngIf="thesis">
    <div *ngIf="isStudent && !isStudentAssigned">
        <form [formGroup]="assignForm">
            <div class="form-group">
                <label>Priorytet</label>
                <select formControlName="priority">
                    <option [value]="'3'">Wysoki</option>
                    <option [value]="'2'">Sredni</option>
                    <option [value]="'1'">Niski</option>
                </select>
                <div class="w-100"></div>
                <app-input-message [input]="assignForm.get('priority')"></app-input-message>
                <div class="w-100"></div>
            </div>
            <button type="button" class="button button-primary" [class.spinner]="loading" (click)="onAssign()">Wybierz tę pracę</button>
        </form>
    </div>
    <div *ngIf="isStudent && isStudentAssigned">
        <button class="button button-primary" [class.spinner]="loading" (click)="revoke()">Zrezygnuj z tej pracy</button>
    </div>
    <div *ngIf="isSupervisor" class="container container-table">
        <div class="row">
            <div class="col-3">
                Nazwa studenta
            </div>
            <div class="col-3">
                Data przypisania
            </div>
            <div class="col-3">
                Priorytet
            </div>
            <div class="col-3">
                Akcja
            </div>
        </div>
        <div *ngIf="thesis && thesis.studentsAssigned.length > 0; then thenBlock"></div>
        <ng-template #thenBlock>
            <div *ngFor="let student of thesis.studentsAssigned; let i = index" class="row">
                <div class="col-3">
                    {{student.studentName}}
                </div>
                <div class="col-3">
                    {{student.date}}
                </div>
                <div class="col-3">
                    Kolejnosc: {{i + 1}}
                    <br>
                    Priorytet studenta: {{ (student.priority == 3 ? 'Wysoki' : student.priority == 2 ? 'Sredni' : 'Niski') }}
                    <br>
                    Liczba prac, do ktrych zapisany jest student: {{student.thesisAssigned}}
                </div>
                <div class="col-3">
                    <button class="button button-primary" [class.button-green]="student.studentName == thesis.student" [class.spinner]="loading" (click)="onChooseStudent(student.studentName)">{{ student.studentName == thesis.student ? 'Zaproponowales prace temu studentowi' : 'Zaproponuj studentowi prace'}}</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>