<div class="container">
    <div class="row">
        <div class="col-2">
            Numer Pracy
        </div>
        <div class="col-2">
            Temat
        </div>
        <div class="col-2">
            Data utworzenia
        </div>
        <div class="col-2">
            Stan
        </div>
        <div class="col-2">
            Student
        </div>
        <div class="col-2">
            Promotor
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            {{thesis.thesisNumber}}
        </div>
        <div class="col-2">
            {{thesis.topic}}
        </div>
        <div class="col-2">
            {{thesis.issueDateTime}}
        </div>
        <div class="col-2">
            {{thesis.state}}
        </div>
        <div class="col-2">
            {{thesis.student}}
        </div>
        <div class="col-2">
            {{thesis.supervisor}}
        </div>
    </div>
</div>
