<div class="main-text">
    Szczegóły pracy dyplomowej
</div>
<div class="container container-table">
    <div class="row">
        <div class="col-2">
            Numer Pracy
        </div>
        <div class="col-2">
            Temat
        </div>
        <div class="col-2">
            Data utworzenia
        </div>
        <div class="col-2">
            Stan
        </div>
        <div class="col-2">
            Student
        </div>
        <div class="col-2">
            Promotor
        </div>
    </div>
    <div *ngIf="thesis" class="row">
        <div class="col-2">
            {{thesis.thesisNumber}}
        </div>
        <div class="col-2">
            {{thesis.topic}}
        </div>
        <div class="col-2">
            {{thesis.issueDateTime}}
        </div>
        <div class="col-2">
            {{thesis.state}}
        </div>
        <div class="col-2">
            {{thesis.student}}
        </div>
        <div class="col-2">
            {{thesis.supervisor}}
        </div>
    </div>
</div>
<div class="buttons" *ngIf="thesis">
    <div *ngIf="isStudent && thesis.student==' '">
        <button class="button button-primary" [class.spinner]="loading" (click)="assign()">Wybierz tę pracę</button>
    </div>
    <div *ngIf="isStudent && thesis.student == authService.username">
        <button class="button button-primary" [class.spinner]="loading" (click)="revoke()">Zrezygnuj z tej pracy</button>
    </div>
    <div *ngIf="isSupervisor && thesis.student!=' '">
        <button class="button button-primary" [class.spinner]="loading" (click)="approve()">Zatwierdź przypisanie pracy do studenta</button>
    </div>
</div>