<div class="container">
    <div class="row" *ngFor="let thesis of theses">
        <div class="col-2">
            {{thesis.topic}}
        </div>
        <div class="col-2">
            {{thesis.issueDateTime}}
        </div>
        <div class="col-2">
            {{thesis.state}}
        </div>
        <div class="col-2">
            {{thesis.student}}
        </div>
        <div class="col-2">
            {{thesis.supervisor}}
        </div>
        <div class="col-2">
            <button (click)="onThesisDetails(thesis.thesisNumber)">Szczegóły</button>
        </div>
    </div>
</div>