<div class="container">
    <div class="row">
        <div class="col-8">
            <form [formGroup]="addThesisForm" (ngSubmit)="onAddThesis()">
                <div class="form-control">
                    <label for="symbol">
                        Temat pracy dyplomowej
                    </label>
                    <input type="text" formControlName="topic" />
                </div>
                <div>
                    <button type="submit" class="button button-primary" [disabled]="!addThesisForm.valid">Dodaj pracę</button>
                </div>
            </form>
        </div>
    </div>
</div>