.submit-container {
    display: flex;
    justify-content: center;
}

.margin-bottom {
    margin-bottom: 40px;
}

.main-text {
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    margin: auto;
}