<div class="container">
    <form [formGroup]="addThesisForm" (ngSubmit)="onAddThesis()">
        <div class="form-group row">
            <div class="col-12">
                <label for="symbol">
                    Temat pracy dyplomowej
                    <input type="text" formControlName="topic" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="button button-primary" [disabled]="!addThesisForm.valid">Dodaj pracę</button>
            </div>
        </div>
    </form>
</div>