<div class="navbar row">
    <div *ngIf="authService.username" class="col-6 col-md-5">
        <div class="row">
            <div class="user col-7 d-none d-md-block navbar-title">
                {{ authService.username }}
            </div>
        </div>
    </div>

    <div *ngIf="authService.username; then thenBLock else elseBlock"></div>
    <ng-template #thenBLock>
        <div *ngIf="authService.userRole == 'supervisor'" class="col-2 text-right">
            <a [routerLink]="['thesis-add']">Dodaj pracę dyplomową</a>
        </div>
        <div class="col-2 text-right">
            <a [routerLink]="['theses-list']">Lista prac dyplomowych</a>
        </div>
        <div class="col-1 text-right">
            <a [routerLink]="" (click)="logout()">Wyloguj</a>
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <div class="col-1 text-right">
            <a [routerLink]="['login']">Zaloguj</a>
        </div>
        <div class="col-1 text-right">
            <a [routerLink]="['register']">Rejestracja</a>
        </div>
    </ng-template>
</div>
