<div class="footer row">
    TODO
    <!-- <div class="col-12 col-sm-6 col-lg-2">
        <div class="footer-title">{{ "Footer.contact" | translate }}</div>
        <div class="footer-items">
            <a href="http://wildasoftware.pl" target="_blank">wildasoftware.pl</a><br/>
            <a href="mailto:support@wildasoftare.pl" class="email">support@wildasoftware.pl</a><br/>
            <br/>
            Feedybacky &copy; {{ currentYear }}<br/>
            Wilda Software
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-2">
        <div class="footer-title">{{ "Footer.product" | translate }}</div>
        <div class="footer-items">
            <a href="#">{{ "Footer.aboutProject" | translate }}</a><br/>
            <a href="#">{{ "Footer.firstSteps" | translate }}</a><br/>
            <a href="#">{{ "Footer.faq" | translate }}</a><br/>
            <a href="#">{{ "Footer.pricing" | translate }}</a><br/>
            <a href="#">{{ "Footer.clientsAboutUs" | translate }}</a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-2">
        <div class="footer-title">{{ "Footer.documents" | translate }}</div>
        <div class="footer-items">
            <a href="/terms">{{ "Footer.terms" | translate }}</a><br/>
            <a href="#">{{ "Footer.personalData" | translate }}</a><br/>
            <a href="/privacy-policy">{{ "Footer.privacyPolicy" | translate }}</a>
        </div>
    </div>
    <div class="col-12 col-sm-6 offset-lg-4 col-lg-2">
        <div class="footer-title">{{ "Footer.findUs" | translate }}</div>
        <div class="footer-items">
            <a href="https://github.com/wildasoftware/feedybacky" target="_blank">Github</a><br/>
            <a href="https://www.npmjs.com/package/feedybacky" target="_blank">NPM</a>
        </div>
    </div> -->
</div>