$colorMain: #018fa7;
$colorWhite: #f5f5f5;
$colorBlue: #036a94;
$colorLightBlue: #478dB7;
$colorDisabled: #d5f1f5;
$colorOrange: #db7429;
$colorRed: #eb0f07;
$colorLightRed: #ff2f2a;
$colorGrey: #888888;
$colorLightGrey: #dddddd;
$colorLightGreySecond: #bbbbbb;
$colorGreen: #0bb013;
$colorLightGreen: #4fd336;
