@import "./constants.scss";
$fa-font-path: "/fonts";
@import "~font-awesome/scss/font-awesome.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
}

.container-full-width {
    max-width: none;
    height: 10%;
    background-color: #bee2ed;
}

.container-content {
    display: flex;
    justify-content: center;
    
    max-width: none;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 80%;
    background-color: #bee2ed;

    @media(max-width: 700px) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @media(max-width: 500px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

html, body {
    height: 100%;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.button-primary {
    color: $colorWhite;
    background-color: $colorBlue;
    border-radius: 20px;
    width: 200px;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: $colorLightBlue;
        color: $colorWhite;
    }

    &:disabled {
        background-color: $colorDisabled;
        color: $colorGrey;
    }

    &:focus, &:active {
        outline: none;
        background-color: $colorLightBlue;
    }
}

.button-green {
    color: $colorWhite;
    background-color: $colorGreen;
    border-radius: 20px;
    width: 200px;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: $colorLightGreen;
        color: $colorWhite;
    }

    &:disabled {
        background-color: $colorDisabled;
        color: $colorGrey;
    }

    &:focus, &:active {
        outline: none;
        background-color: $colorLightGreen;
    }
}

.button-red {
    color: $colorWhite;
    background-color: $colorRed;
    border-radius: 20px;
    width: 200px;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: $colorLightRed;
        color: $colorWhite;
    }

    &:disabled {
        background-color: $colorDisabled;
        color: $colorGrey;
    }

    &:focus, &:active {
        outline: none;
        background-color: $colorLightRed;
    }
}

input, select {
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: $colorWhite;
    height: 30px;
}

label {
    width: 100%;
    text-align: center;
    margin: auto;
}

form {
    width: 100%;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
