<div class="container">
    <div class="row main-text">
        Tworzenie konta
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="form-group row">
            <div class="col-6">
                <label>Nazwa użytkownika</label>
            </div>
            <div class="col-6">
                <input type="text" formControlName="name">
                <app-input-message [input]="registerForm.get('name')"></app-input-message>
            </div>
        </div>
        <div formGroupName="passwordGroup">
            <div class="form-group row">
                <div class="col-6">
                    <label>Hasło</label>
                </div>
                <div class="col-6">
                    <input type="password" formControlName="password">
                    <app-input-message [input]="registerForm.get('passwordGroup').get('password')"></app-input-message>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label>Potwierdź hasło</label>
                </div>
                <div class="col-6">
                    <input type="password" formControlName="matchingPassword">
                    <app-input-message [input]="registerForm.get('passwordGroup').get('matchingPassword')"></app-input-message>
                </div>
            </div>
        </div>
        <div class="form-group row margin-bottom">
            <div class="col-6">
                <label>Rola</label>
            </div>
            <div class="col-6">
                <select formControlName="role">
                    <option value="supervisor">Promotor</option>
                    <option value="student">Student</option>
                </select>
                <app-input-message [input]="registerForm.get('role')"></app-input-message>
            </div>
        </div>
        <div class="row">
            <div class="col-12 submit-container">
                <button type="submit" class="button button-primary" [disabled]="!registerForm.valid">Zarejestruj się</button>
            </div>
        </div>
    </form>
</div>
